<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.aircandi"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">

	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />

	<permission
		android:name="com.aircandi.catalina.permission.MAPS_RECEIVE"
		android:protectionLevel="signature" />
	<permission
		android:name="com.aircandi.catalina.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<!-- Support location -->

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<!-- Support network and wifi interactions -->

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

	<!-- Support play services -->

	<uses-permission android:name="com.aircandi.catalina.permission.MAPS_RECEIVE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

	<!-- To support GCM -->

	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.aircandi.catalina.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<!-- To support Notifications and Aviary -->

	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- Needed to trigger a wifi scan -->

	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

	<!-- Used to beam patches and download links -->

	<uses-permission android:name="android.permission.NFC" />

	<application
		android:name=".Patchr"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_img_launcher"
		android:allowBackup="false"
		android:label="@string/name_app"
		android:theme="@style/aircandi_theme_snow"
		tools:replace="label, allowBackup, android:icon">

		<!-- Service keys -->
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyCF9Nlm-CGETdgwP1ktNyAoKVgcUGuMzTA" />
		<meta-data
			android:name="com.crashlytics.ApiKey"
			android:value="3f03e3891f0d0c56c4bc1c393db5efe2aa0f90c7" />
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.aviary.android.feather.v1.API_KEY"
			android:value="6f4074ec11634bd78eb00909102844ec" />
		<meta-data android:name="com.parse.push.notification_icon"
			android:resource="@drawable/ic_stat_notification"/>

		<!-- Services -->

		<service
			android:name=".components.GcmIntentService"
			android:enabled="true" />
		<service
			android:name=".components.ActivityRecognitionService"
			android:exported="false"
			android:label="@string/name_app" />
		<service android:name="com.parse.PushService" />

		<!-- Receivers -->

		<receiver
			android:name=".components.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<category android:name="com.aircandi.catalina" />
			</intent-filter>
		</receiver>

		<!-- Parse won't register properly with gcm without these -->

		<receiver
			android:name="com.parse.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<category android:name="com.aircandi.catalina" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.parse.ParsePushBroadcastReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="com.parse.push.intent.RECEIVE" />
				<action android:name="com.parse.push.intent.DELETE" />
				<action android:name="com.parse.push.intent.OPEN" />
			</intent-filter>
		</receiver>

		<!-- Forms -->

		<activity
			android:name=".ui.SplashForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@style/aircandi_theme_midnight_notitlebar"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.AircandiForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_nearby">
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity
			android:name=".ui.PatchForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:parentActivityName=".ui.AircandiForm"
			android:windowSoftInputMode="stateHidden">
			<!-- The meta-data element is needed for versions lower than 4.1 -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.AircandiForm" />
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="patchr.com" />
				<data android:pathPrefix="/patch" />
				<data android:pathPrefix="/place" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.MessageForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:parentActivityName=".ui.AircandiForm"
			android:windowSoftInputMode="stateHidden">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.AircandiForm" />
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="patchr.com" />
				<data android:pathPrefix="/message" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.PlaceForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.UserForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_user_form"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.PhotoForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_photo_form"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.MapForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_map_form"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.SearchForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.AboutForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_about_form"
			android:windowSoftInputMode="stateHidden" />

		<!-- Lists -->

		<activity
			android:name=".ui.UserList"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_watching_list"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.PatchList"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_patch_list"
			android:windowSoftInputMode="stateHidden" />

		<!-- Editing -->

		<!-- MessageEdit Note: label setting is used in android share picker -->
		<activity
			android:name=".ui.edit.MessageEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:icon="@drawable/ic_img_launcher"
			android:label="@string/name_app"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/plain" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.edit.PatchEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_patch_edit"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.edit.ProximityEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_proximity_edit"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.edit.FeedbackEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_feedback_edit"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".ui.edit.ReportEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_report_edit"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".ui.edit.UserEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_user_edit"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.edit.SignInEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_signin_edit"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".ui.edit.RegisterEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_register_edit"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.edit.ResetEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_reset_edit"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.edit.PasswordEdit"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_password_edit"
			android:windowSoftInputMode="stateHidden" />

		<!-- Builders/pickers -->

		<activity
			android:name=".ui.helpers.PhotoPicker"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_photo_picker"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.helpers.LocationPicker"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_location_picker"
			android:windowSoftInputMode="stateHidden" />
		<!-- Theme setting required to get dialog treatment for all theming -->
		<activity
			android:name=".ui.helpers.PhotoActionPicker"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@style/aircandi_theme_dialog_light"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.helpers.PrivacyBuilder"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/form_title_privacy_builder"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".ui.helpers.QrcodeDialog"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@style/aircandi_theme_dialog_light"
			android:windowSoftInputMode="stateHidden" />

		<!-- Misc -->

		<activity
			android:name=".ui.SettingsForm"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
			android:label="@string/form_title_settings_form">
			<intent-filter>
				<action android:name="com.aircandi.Preferences" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
	</application>

</manifest>